.App {
  text-align: center;
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(6, 1fr);
}
.stage-grid-box {
  border: solid black 1px;
  grid-column: 1/4;
  grid-row: 2/7;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  padding: 2px;
}
::-webkit-scrollbar {
  display: none;
}

.applied,
.phone-screen,
.interviewing,
.offer {
  grid-row: 1/5;
  border: solid black 1px;
  overflow: scroll;
}
.applied {
  grid-column: 1/2;
  color: red;
  background-color: lightblue;
}

.phone-screen {
  grid-column: 2/3;
  background-color: lightcyan;
}
.interviewing {
  grid-column: 3/4;
  background-color: lightgray;
}
.offer {
  grid-column: 4/5;
  background-color: lightskyblue;
}

.step-box {
  border: solid black 2px;
  background-color: white;
  margin: 2%;
  padding: 1%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
}
.left{
  grid-column: 1/2;
  grid-row: 2/3;
}
.right{
  grid-column: 3/4;
  grid-row: 2/3;
}
.left,.right, .rejected{
  background: none;
  border: none;
}

.job-info{
  grid-column: 2/3;
  grid-row: 1/4;
}
